<h1>Memberships#index</h1>
<p>Find me in app/views/memberships.html.erb</p>
<p><%= Membership.count %></p>
<p><%= link_to "New membership", new_membership_path %></p>
<ul>
  <% @memberships.each do |membership| %>
  <li>Membership Id: <%= membership.id %></li>
  <li>Student first name: <%= membership.student.first_name %></li>
  <li>Course name: <%= membership.course.name %></li>
  <li><%= link_to "Delete", membership_path(membership), method: :delete %></li>
  <li><%= link_to "Edit", edit_membership_path(membership) %></li>
  <% end %>
</ul>
