<div class="container-fluid below-navbar">
  <h1>All Memberships</h1>
  <p>Find all the memberships, edit or delete them and create new ones. There are currently <%= current_user.memberships.count %> membership(s).</p>
  <p><%= link_to "New membership", new_membership_path, class: "btn btn-success" %></p>
    <% @memberships.each do |membership| %>
      <div class="card card-index col-xs-12 col-sm-6">
        <ul>
          <li>Membership Id: <%= membership.id %></li>
          <li>Student first name: <%= membership.student.first_name %></li>
          <li>Course name: <%= membership.course.name %></li>
        </ul>
        <div class="card-index-actions card-index-delete">
          <i class="far fa-trash-alt"><%= link_to "", membership_path(membership), method: :delete %></i>
      </div>
      <div class="card-index-actions card-index-edit">
        <i class="far fa-edit"><%= link_to "", edit_membership_path(membership) %></i>
      </div>
      </div>
    <% end %>
</div>
