<div class="container-fluid below-navbar">
  <h1>Assignments#index</h1>
  <p>Find me in app/views/assignments/index.html.erb</p>
  <p><%= link_to "New Assignment", assignments_new_path, class: "btn btn-success" %></p>
    <% @assignments.each do |assignment| %>
      <div class="card card-index col-xs-12 col-sm-6">
        <ul>
          <li><%= assignment.title %></li>
          <li>Course(s): <%= assignment.course.name %></li>
          <li>Copies:
            <% assignment.copies.each do |copy| %>
            <ul>
              <li><%= copy.student.first_name %> had <%= copy.grade %></li>
            </ul>
            <% end %>

          </li>
          <li><%= link_to "Delete", assignment_path(assignment), method: :delete %></li>
          <li><%= link_to "Edit", edit_assignment_path(assignment) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
