<div class="container-fluid below-navbar">
  <h1>All Assignments</h1>
  <p>Find all your assignements, edit or delete them and create new ones. There are currently <%= current_user.assignments.count %> assignment(s).</p>
  <p><%= link_to "New Assignment", assignments_new_path, class: "btn btn-success" %></p>
    <% @assignments.each do |assignment| %>
      <div class="card card-index col-xs-12 col-sm-6">
        <ul>
          <li><%= assignment.title %></li>
          <li>Course(s): <%= assignment.course.name %></li>
          <li>Copies:
            <% assignment.copies.each do |copy| %>
            <ul>
              <li><%= copy.student.first_name %> had <%= copy.grade %></li>
            </ul>
            <% end %>

          </li>
        </ul>
        <div class="card-index-actions card-index-delete">
          <i class="far fa-trash-alt">
          <%= link_to "", assignment_path(assignment), method: :delete %></i>
        </div>
        <div class="card-index-actions card-index-edit">
          <i class="far fa-edit"> <%= link_to "", edit_assignment_path(assignment) %></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
