<div class="container-fluid below-navbar">
  <h1>All Assignments</h1>
  <p>Find all your assignements, edit or delete them and create new ones. There are currently <%= current_user.assignments.count %> assignment(s).</p>
  <p><%= link_to "New Assignment", new_assignment_path, class: "btn btn-success" %></p>
    <% @assignments.each do |assignment| %>
      <div class="card card-index col-xs-12 col-sm-6">
        <!-- card grid -->
      <div class="card-index-container">

        <!-- main title -->
        <div class="card-index-title">
          <div class="card-index-title-text">
            <%= assignment.title %>
          </div>
        </div>

        <!-- title left -->
        <div class="card-index-content-title-left">
          Description:
        </div>

        <!-- sublist left -->
        <div class="card-index-block-content-list-left">
          <%= assignment.description %>
        </div>

        <!-- title right -->
        <div class="card-index-content-title-right">
          Course: <%= assignment.course.name %>
        </div>

        <!-- subtitle right row3-->
        <div class="card-index-content-title-right-r3">
          Copies:
        </div>

        <div class="card-index-block-content-sublist-right">
          <ul>
            <% if assignment.copies.empty? %>
              <div class="card-index-block-list-empty">
                no copies yet for this assignement
              </div>
            <% else %>
              <% assignment.copies.each do |copy| %>
                  <li><%= copy.student.first_name %>: <%= copy.grade %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

      </div>


        <div class="card-index-actions card-index-delete">
          <i>
          <%= link_to "", assignment_path(assignment), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %></i>
        </div>
        <div class="card-index-actions card-index-edit">
          <i> <%= link_to "", edit_assignment_path(assignment), class: "far fa-edit" %></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
