<div class="container-fluid">
  <h1>Students#index</h1>
  <p>Find me in app/views/students/index.html.erb</p>
  <p> <%= link_to "New student", new_student_path, class: "btn btn-success" %></p>
  <% @students.each do |student| %>
    <div class="card card-index">
      <ul>
        <li>First name: <%= link_to student.first_name, student_path(student) %></li>
        <li>
          <% if student.photo.blank? %>
          no profile picture
          <% else %>
          <%= cl_image_tag student.photo, height: 120, width: 120, crop: :fill %>
          <% end %>
        </li>
        <li>
          <% if student.batch.nil? %>
          no batch assigned yet
          <% else %>
          Batch: <%= student.batch.name %>
          <% end %>
        </li>
        <li>Attended course(s):
          <ul>
            <% if student.courses.nil? %>
              not attending any courses yet
            <% else %>
              <% student.courses.each do |course| %>
              <li><%= course.name %></li>
                <ul>
                  <% if course.teacher.nil? %>
                    no teacher assigned yet
                  <% else %>
                  <li>Teacher: <%= course.teacher.last_name %></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Delete", student_path(student), method: :delete %></li>
        <li><%= link_to "Edit", edit_student_path(student) %></li>
      </ul>
    </div>
  <% end %>
</div>
