<div class="container-fluid below-navbar">
  <h1>All Students</h1>
  <p>Find all your students, edit or delete them and create new ones. There are currently <%= current_user.students.count %> student(s).
  <p> <%= link_to "New student", new_student_path, class: "btn btn-success" %></p>
  <div class="students-index-search">
    <%= render 'shared/students_search' %>
  </div>
  <% @students.each do |student| %>
    <div class="card card-index col-xs-12 col-sm-6">
      <!-- card grid -->
      <div class="card-index-container">

        <!-- main title -->
        <div class="card-index-title">
          <div class="card-index-title-text">
            <%= student.first_name %>
          </div>
        </div>

        <!-- title left -->
        <div class="card-index-content-title-left">
          <ul>
            <% if student.batch.name.empty? %>
              <div class="card-index-block-list-empty">
                no batches for this student yet
              </div>
            <% else %>
              <%= student.batch.name %>
            <% end %>
          </ul>
        </div>

        <!-- subtitle left -->
        <div class="card-index-subtitle-left-2">
          Assignment(s):
        </div>

        <!-- sublist left -->
        <div class="card-index-block-content-sublist-left">
          <ul>
            <% if Copy.where(student_id: student.id.to_i).empty? %>
               <div class="card-index-block-list-empty">
                no copies yet
              </div>
            <% else %>
              <% Copy.where(student_id: student.id.to_i).each do |copy| %>
                <ul>
                  <li><%= copy.assignment.title %> (grade:" <%= copy.grade %>") </li>
                </ul>
              <% end %>
            <% end %>
          </ul>
        </div>

        <!-- picture right -->
        <div class="card-index-content-picture-right">
          <% if student.photo.blank? %>
            <div class="card-index-block-list-empty">
              no profile picture
            </div>
          <% else %>
          <%= cl_image_tag student.photo, height: 40, width: 40, crop: :fill %>
          <% end %>
        </div>

      </div>


      <!-- card footer -->
      <div class="card-index-footer">
      </div>

      <!-- card actions -->
      <div class="card-index-actions card-index-delete">
        <i>
        <%= link_to "", student_path(student), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %></i>
      </div>
      <div class="card-index-actions card-index-edit">
        <i> <%= link_to "", edit_student_path(student), class: "far fa-edit" %></i>
      </div>
    </div>
  <% end %>
</div>
