<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<%= link_to "New student", new_student_path %>
<% @students.each do |student| %>
<ul>
  <li><%= link_to student.first_name, student_path(student) %></li>
  <li>
    <% if student.batch.nil? %>
    no batch assigned yet
    <% else %>
    <%= student.batch.name %>
    <% end %>
  </li>
  <li>
    <% if student.batch.nil? %>
    no batch assigned yet
    <% else %>
    <%= student.batch.id %>
    <% end %>
  </li>
  <li><%= link_to "Delete", student_path(student), method: :delete %></li>
  <li><%= link_to "Edit", edit_student_path(student) %></li>
</ul>
<% end %>
