<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>
<ul>
  <li>First name: <%= @student.first_name %></li>
  <li>Last name: <%= @student.last_name %></li>
  <li> Batch:
    <% if @student.batch.nil? %>
    no batch assigned yet
    <% else %>
    <%= @student.batch.name %>
    <% end %>
  </li>
  <li>Course(s):
    <% if @student.courses.empty? %>
    not enrolled in any courses yet
    <% else %>
      <% @student.courses.each do |course| %>
      <li><%= course.name %></li>
      <% end %>
    <% end %>
  </li>
  <li><%= link_to "Edit", edit_student_path(@student) %></li>
  <li><%= link_to "Back to all students", students_path %></li>
</ul>
