<div class="container-fluid below-navbar">
  <h1>All Copies</h1>
  <p>Find all your copies, edit or delete them and create new ones. There are currently <%= current_user.copies.count %> copy(ies).</p>
  <p><%= link_to "New copy", copies_new_path, class: "btn btn-success" %></p>
  <% @copies.each do |copy| %>
    <div class="card card-index col-xs-12 col-sm-6">
      <ul>
        <li>Student first name: <%= copy.student.first_name %></li>
        <li>Assignment name: <%= copy.assignment.title %>
          <ul>
            <li>Grade: <%= copy.grade %></li>
            <li>Comment: <%= copy.comment %></li>
          </ul>
        </li>
      </ul>
      <div class="card-index-actions card-index-delete">
          <i>
          <%= link_to "", copy_path(copy), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %></i>
        </div>
        <div class="card-index-actions card-index-edit">
          <i> <%= link_to "", edit_copy_path(copy), class: "far fa-edit" %></i>
        </div>
    </div>
  <% end %>
</div>
