<%= simple_form_for @assignment do |f| %>
<%= f.input :title,
            autofocus: true,
            input_html: { autocomplete: "Assignment's title",
            class: 'form-control form-margin-btn'}%>

<%= f.input :description,
            input_html: { autocomplete: "Assignment's description",
            class: 'form-control form-margin-btn'}%>

<%= f.input :date, as: :date, html5: true,
            input_html: {
            class: 'form-control form-margin-btn'}%>
<p>
<%= f.label :course, class: "assignment_label_course_name" %>
<%= collection_select :student, :batch_id, current_user.batches , :id, :name, { prompt: true } %>
</p>
<%= f.button :submit, class: "btn btn-success btn-form-edit-new" %>
<% end %>



