<%= simple_form_for @assignment do |f| %>
<%= f.input :title, label: "Assignment title" %>
<%= f.input :description, label: "Assignment description" %>
<p>
<%= label_tag :course %>
<%= collection_select :assignment, :course_id, current_user.courses , :id, :name, { prompt: true } %>
</p>
<%= f.button :submit, class: "btn btn-success" %>
<% end %>
