<%= simple_form_for @membership do |f| %>
<p>
<%= label_tag :student %>
<%= collection_select :membership, :student_id, Student.all , :id, :first_name, { prompt: true } %>
</p>
<p>
<%= label_tag :course %>
<%= collection_select :membership, :course_id, Course.all , :id, :name, { prompt: true } %>
</p>
<%= f.button :submit, class: "btn btn-success" %>
<% end %>
