<%= simple_form_for @membership do |f| %>
<p>
<%= f.label :student, class: "membership_label_student_name" %>
<%= collection_select :membership, :student_id, current_user.students.all , :id, :first_name, { prompt: true } %>
</p>
<p>
<%= f.label :course, class: "membership_label_course_name" %>
<%= collection_select :membership, :course_id, current_user.courses.all , :id, :name, { prompt: true } %>
</p>
<%= f.button :submit, class: "btn btn-success btn-form-edit-new" %>
<% end %>


