<div class="container-fluid navigationbar">
  <div class="navbarleft">
    <div class="navbarlogo">
      <%= link_to "Home", root_path %>
    </div>
    <div class="navbar-quicklinks">
      Quick Links
    </div>
    <div class="navbarlogo-menu-link hidden" id="quicklinks-menu">
      <ul>
        <li><%= link_to "Batches", batches_path %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Teachers", teachers_path %></li>
        <li><%= link_to "Students", students_path %></li>
        <li><%= link_to "Memberships", memberships_path %></li>
        <li><%= link_to "Assignments", assignments_path %></li>
        <li><%= link_to "Copies", copies_path %></li>
      </ul>
    </div>
  </div>
  <div class="navbarright">
    <div class="navbar-login">
      <% if user_signed_in? %>
        <div class="d-none d-sm-flex">
        <%= current_user.email %>
        </div>
        <div class="d-flex d-sm-none cat-icon">
          <%= image_tag("gato1.png") %>
        </div>
      <% else %>
        Sign in
      <% end %>
    </div>

    <!-- dropdown menu for sign in/up -->
    <div class="navbar-login-menu-link hidden" id="quicklinks-user-menu">
      <ul>
          <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%= link_to "edit profile", edit_user_registration_path %></li>
        <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
        <li><%= link_to "sign in", user_session_path %></li>
        <li><%= link_to "sign up", new_user_registration_path %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
