<%= simple_form_for @student do |f| %>
<%= f.input :first_name, label: "Student's first name" %>
<%= f.input :last_name, label: "Student's last name" %>
<p>
<%= label_tag :batch %>
<%= collection_select :student, :batch_id, current_user.batches , :id, :name, { prompt: true } %>
</p>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.button :submit, class: "btn btn-success" %>
<% end %>
