<div class="container-fluid maincontent">
  <div class="row maintagline">
    <div class="maintagline-title">
      <h1>Cool School Webapp</h1>
    </div>
    <div class="maintagline-txt">
      <p>Cool new ruby on rails project to help digitalize schools and make teachers' life somewhat easier</p>
    </div>
    <div class="maintagline-list">
      <ul>
        <li><%= link_to "Batches", batches_path %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Teachers", teachers_path %></li>
        <li><%= link_to "Students", students_path %></li>
        <li><%= link_to "Memberships", memberships_path %></li>
        <li><%= link_to "Assignments", assignments_path %></li>
        <li><%= link_to "Copies", copies_path %></li>
      </ul>
    </div>
  </div>
</div>
