<div class="container-fluid maincontent">
  <div class="row maintagline">
    <div class="maintagline-title">
      <h1>Cool School Webapp</h1>
    </div>
    <div class="maintagline-txt">
      <p>Cool new ruby on rails project to help digitalize schools and make teachers' life somewhat easier</p>
    </div>
    <div class="maintagline-list">
      <ul>
        <li><%= link_to "Batches", batches_path %> [<%= current_user.batches.count %>]</li>
        <li><%= link_to "Courses", courses_path %> [<%= current_user.courses.count %>]</li>
        <li><%= link_to "Teachers", teachers_path %> [<%= current_user.teachers.count %>]</li>
        <li><%= link_to "Students", students_path %> [<%= current_user.students.count %>]</li>
        <li><%= link_to "Memberships", memberships_path %> [<%= current_user.memberships.count %>]</li>
        <li><%= link_to "Assignments", assignments_path %> [<%= current_user.assignments.count %>]</li>
        <li><%= link_to "Copies", copies_path %> [<%= current_user.copies.count %>]</li>
      </ul>
    </div>
  </div>
</div>
