<div class="container-fluid below-navbar">
  <h1>All Teachers</h1>
  <p>Find all your teachers, edit or delete them and create new ones. There are currently <%= current_user.teachers.count %> teacher(s).</p>
  <p><%= link_to "New Teacher", new_teacher_path, class: "btn btn-success" %></p>
  <% @teachers.each do |teacher| %>
    <div class="card card-index col-xs-12 col-sm-6">

      <!-- card grid -->
      <div class="card-index-container">

        <!-- main title -->
        <div class="card-index-title">
          <div class="card-index-title-text">
            <%= teacher.last_name %>
          </div>
        </div>

        <!-- title left -->
        <div class="card-index-content-title-left">
          Course(s):
        </div>

        <!-- list left -->
        <div class="card-index-block-content-list-left">
          <ul>
            <% if Course.where(teacher_id: teacher.id.to_i).empty? %>
              <div class="card-index-block-list-empty">
                no courses for this teacher yet
              </div>
            <% else %>
              <% Course.where(teacher_id: teacher.id.to_i).each do |course| %>
              <li><%= course.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <!-- picture right -->
        <div class="card-index-content-picture-right">
          <% if teacher.photo.blank? %>
            <div class="card-index-block-list-empty">
              no profile picture
            </div>
          <% else %>
          <%= cl_image_tag teacher.photo, height: 40, width: 40, crop: :fill %>
          <% end %>
        </div>

        <!-- subtitle right -->
        <div class="card-index-content-subtitle-right-r3">
          Assignment(s):
        </div>

        <!-- sublist right -->
        <div class="card-index-block-content-sublist-right">
          <ul>
            <% if Course.where(teacher_id: teacher.id.to_i).empty? %>
               <div class="card-index-block-list-empty">
                no assignements given yet
              </div>
            <% else %>
              <% Course.where(teacher_id: teacher.id.to_i).each do |course| %>
                <% course.assignments.each do |assignment| %>
                  <ul>
                    <li><%= assignment.title %></li>
                  </ul>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>

        <!-- card footer -->
        <div class="card-index-footer">
        </div>

      </div>

      <!-- card actions -->
      <div class="card-index-actions card-index-delete">
          <i>
          <%= link_to "", teacher_path(teacher), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %></i>
        </div>
        <div class="card-index-actions card-index-edit">
          <i> <%= link_to "", edit_teacher_path(teacher), class: "far fa-edit" %></i>
        </div>
    </div>
  <% end %>
</div>
