<div class="container-fluid below-navbar">
  <h1>All Teachers</h1>
  <p>Find all your teachers, edit or delete them and create new ones. There are currently <%= current_user.teachers.count %> teacher(s).</p>
  <p><%= link_to "New Teacher", teachers_new_path, class: "btn btn-success" %></p>
  <% @teachers.each do |teacher| %>
    <div class="card card-index col-xs-12 col-sm-6">
      <ul>
        <li><%= teacher.last_name %></li>
        <li>
          <% if teacher.photo.blank? %>
          no profile picture
          <% else %>
          <%= cl_image_tag teacher.photo, height: 120, width: 120, crop: :fill %>
          <% end %>
        </li>
        <li>All course(s):</li>
          <ul>
            <% if Course.where(teacher_id: teacher.id.to_i).empty? %>
              no courses for this teacher yet
            <% else %>
              <% Course.where(teacher_id: teacher.id.to_i).each do |course| %>
              <li><%= course.name %> (batch: <%= course.batch.name %>)</li>
              <% end %>
            <% end %>
          </ul>
      </ul>
      <div class="card-index-actions card-index-delete">
        <i class="far fa-trash-alt"><%= link_to "", teacher_path(teacher), method: :delete %></i>
      </div>
      <div class="card-index-actions card-index-edit">
        <i class="far fa-edit"><%= link_to "", edit_teacher_path(teacher) %></i>
      </div>
    </div>
  <% end %>
</div>
