<div class="container-fluid">
  <h1>Courses#index</h1>
  <p>Find me in app/views/courses/index.html.erb</p>
  <p><%= link_to "New Course", new_course_path, class: "btn btn-success" %></p>
  <p>All existing courses:</p>
  <% @courses.each do |course| %>
    <div class="card card-index">
      <ul>
        <li>Course: <%= course.name %></li>
        <li>
          <% if course.batch.nil? %>
          not assigned to any batches yet
          <% else %>
          Batch: <%= course.batch.name %>
          <% end %>
        </li>

        <li>
          <% if course.teacher.nil? %>
          no teacher for this course yet
          <% else %>
          Teacher: <%= course.teacher.first_name %>
          <% end %>
        </li>
        <li>Enrolled student(s):
          <ul>
            <% if course.students.empty? %>
            no students for this batch yet
            <% else %>
              <% course.students.each do |student| %>
              <li><%= student.first_name %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li>Assignment(s):
          <ul>
            <% if course.assignments.empty? %>
            no assignments for this course yet
            <% else %>
              <% course.assignments.each do |assignment| %>
              <li><%= assignment.title %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Delete", course_path(course), method: :delete %></li>
        <li><%= link_to "Edit", edit_course_path(course) %></li>
      </ul>
    </div>
  <% end %>
</div>
