<div class="container-fluid below-navbar">
  <h1>All Courses</h1>
  <p>Find all your courses, edit or delete them and create new ones. There are currently <%= current_user.courses.count %> course(s).</p>
  <p><%= link_to "New Course", new_course_path, class: "btn btn-success" %></p>
  <p>All existing courses:</p>
  <% @courses.each do |course| %>
    <div class="card card-index col-xs-12 col-sm-6">

      <!-- card grid -->
      <div class="card-index-container">

        <!-- main title -->
        <div class="card-index-title">
          <div class="card-index-title-text">
            <%= course.name %>
          </div>
        </div>

        <!-- subtitle left 1 -->
        <div class="card-index-subtitle-left-1">
          <% if course.teacher.nil? %>
            <div class="card-index-block-list-empty">
              no teachers assigned yet for this course
            </div>
          <% else %>
            <div class="card-index-subtitle-left-1-text">
            Teacher: <%= course.teacher.last_name %>
            </div>
          <% end %>
        </div>

        <!-- subtitle left 2 -->
        <div class="card-index-subtitle-left-2">
          <div class="card-index-subtitle-text">
            Assignment(s):
          </div>
        </div>

        <!-- list subtitle left 2 -->
        <div class="card-index-subtitle-left-2-list">
          <ul>
            <% if course.assignments.empty? %>
             <div class="card-index-block-list-empty">
              no assignments yet for this course
             </div>
            <% else %>
              <% course.assignments.each do |assignment| %>
              <li><%= assignment.title %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

      <!-- title right -->
        <div class="card-index-content-title-right">
          Student(s):
        </div>

        <!-- list right -->
        <div class="card-index-block-content-list-right">
          <ul>
            <% if course.students.empty? %>
               <div class="card-index-block-list-empty">
                no students yet for this course
              </div>
            <% else %>
              <% course.students.each do |student| %>
                <ul>
                  <li><%= student.first_name %></li>
                </ul>
              <% end %>
            <% end %>
          </ul>
        </div>

        <!-- card footer -->
        <div class="card-index-footer">
        </div>
      </div>

      <!-- card actions -->
      <div class="card-index-actions card-index-delete">
          <i>
          <%= link_to "", course_path(course), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %></i>
        </div>
        <div class="card-index-actions card-index-edit">
          <i> <%= link_to "", edit_course_path(course), class: "far fa-edit" %></i>
        </div>
    </div>
  <% end %>
</div>
