<div class="container-fluid below-navbar">
  <h1>All Batches</h1>
  <p>Find all your batches, edit or delete them and create new ones</p>
  <p><%= link_to "New Batch", new_batch_path, class: "btn btn-success" %></p>
  <% @batches.each do |batch| %>
    <div class="card card-index col-xs-12 col-sm-6">
      <ul>
        <li>Name: <%= batch.name %></li>
        <li>Course(s):
          <ul>
            <% if batch.courses.empty? %>
             not courses yet for this batch
            <% else %>
              <% batch.courses.each do |course| %>
              <li><%= course.name %></li>
                <% course.students.each do |student| %>
                  <ul>
                    <li><%= student.first_name %></li>
                  </ul>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
      <div class="card-index-actions card-index-delete">
        <i class="far fa-trash-alt"><%= link_to "", batch_path(batch), method: :delete %></i>
      </div>
      <div class="card-index-actions card-index-edit">
        <i class="far fa-edit"><%= link_to "", edit_batch_path(batch) %></i>
      </div>
    </div>
  <% end %>
</div>
