<div class="container-fluid below-navbar">
  <h1>All Batches</h1>
  <p>Find all your batches, edit or delete them and create new ones. There are currently <%= current_user.batches.count %> batch(es).</p>
  <p><%= link_to "New Batch", new_batch_path, class: "btn btn-success" %></p>
  <% @batches.each do |batch| %>
    <div class="card card-index col-xs-12 col-sm-6">

      <!-- card grid -->
      <div class="card-index-container">

        <!-- main title -->
        <div class="card-index-title">
          <div class="card-index-title-text">
            <%= batch.name %>
          </div>
        </div>

        <!-- title left -->
        <div class="card-index-content-title-left">
          Course(s):
        </div>

        <!-- list left -->
        <div class="card-index-block-content-list-left">
          <ul>
            <% if batch.courses.empty? %>
             <div class="card-index-block-list-empty">
              no courses yet for this batch
             </div>
            <% else %>
              <% batch.courses.each do |course| %>
              <li><%= course.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <!-- title right -->
        <div class="card-index-content-title-right">
          Student(s):
        </div>

        <!-- list right -->
        <div class="card-index-block-content-list-right">
          <ul>
            <% if batch.students.empty? %>
               <div class="card-index-block-list-empty">
                no students yet for this batch
              </div>
            <% else %>
              <% batch.students.each do |student| %>
                <ul>
                  <li><%= student.first_name %></li>
                </ul>
              <% end %>
            <% end %>
          </ul>
        </div>

        <!-- card footer -->
        <div class="card-index-footer">
        </div>

      </div>
      <div class="card-index-actions card-index-delete">
          <i>
          <%= link_to "", batch_path(batch), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %></i>
        </div>
        <div class="card-index-actions card-index-edit">
          <i> <%= link_to "", edit_batch_path(batch), class: "far fa-edit" %></i>
        </div>
    </div>
  <% end %>
</div>
